:root {
    --pixel-size: 20;
 }
 
 body {
    background: #96ffc1;
 }

 .pixelart {
   image-rendering: pixelated;
}
 
 .Character {
    width: calc(8px * var(--pixel-size));
    height: calc(8px * var(--pixel-size));
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    image-rendering: pixelated;
 }

 .Character_idle{
    animation: idleAnim 1s steps(5) infinite;
    width: calc(128px * var(--pixel-size));
    position: absolute;
    top: calc(-1.5px * var(--pixel-size));
 }

 .Character_looking{
    animation: lookingAnim 2s steps(14) infinite;
    width: calc(128px * var(--pixel-size));
    position: absolute;
    top: calc(-10.5px * var(--pixel-size));
 }

 .Character_skip{
   animation: skipAnim 1.5s steps(8) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
   top: calc(-20.5px * var(--pixel-size));
 }

 .Character_jump{
   animation: jumpAnim 2s steps(11) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
   top: calc(-29px * var(--pixel-size));
 }

 .Character_shock{
   animation: shockAnim 0.5s steps(5) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
   top: calc(-38px * var(--pixel-size));
 }

 .Character_sleep{
   animation: sleepAnim 2s steps(6) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
   top: calc(-47px * var(--pixel-size));
 }

 .Character_fall{
   animation: fallAnim 2s steps(6) 1;
   animation-fill-mode: forwards;
   width: calc(128px * var(--pixel-size));
   position: absolute;
   top: calc(-56.5px * var(--pixel-size));
 }

 @keyframes idleAnim {
    from{
       transform: translate3d(0px,0,0);
    }
    to {
       transform: translate3d(calc(-100%*(5/14)),0,0);
    }
 }
 
 @keyframes lookingAnim {
   from{
      transform: translate3d(0px,0,0);
   }
   to {
      transform: translate3d(calc(-100%),0,0);
   }
}

 @keyframes skipAnim {
   from{
      transform: translate3d(0px,0,0);
   }
   to {
      transform: translate3d(calc(-100%*(8/14)),0,0);
   }
}
 
 @keyframes jumpAnim {
   from{
      transform: translate3d(0px,0,0);
   }
   to {
      transform: translate3d(calc(-100%*(11/14)),0,0);
   }
}

 @keyframes shockAnim {
   from{
      transform: translate3d(0px,0,0);
   }
   to {
      transform: translate3d(calc(-100%*(5/14)),0,0);
   }
}

 @keyframes sleepAnim {
   from{
      transform: translate3d(0px,0,0);
   }
   to {
      transform: translate3d(calc(-100%*(6/14)),0,0);
   }
}

 @keyframes fallAnim {
   from{
      transform: translate3d(0px,0,0);
   }
   to {
      transform: translate3d(calc(-100% * (6/14)),0,0);
   }
}